<div class="float-right">
  <button mat-raised-button color="primary" data-toggle="modal" data-target="#addUserModal">Add User </button>
</div>
<div class="clearfix"> </div>

<div *ngFor="let user of users">
    <p> {{user.name}} </p>
    <p> {{user.designation}} </p>
    <p> {{user.email}} </p>
    <p> {{user.phone}} </p>
    <button mat-raised-button color="warn"  (click)="deleteUser(user._id)">Delete</button>
    <button mat-raised-button color="primary"  (click)="editUser(user._id)">Edit</button>
</div> 


<!-- <div>
  <ngx-datatable class="material" [rows]="users" [columns]="[{name:'name'},{name:'designation'},{name:'email'}, {name:'phone'}]"
    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="2">
  </ngx-datatable>
</div> -->



<!--add user modal-->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="example-container">
          <form [formGroup]="createForm" class="create-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" formControlName="name" #name>
              <mat-error *ngIf="createForm.controls['name'].hasError('required') && (createForm.controls['name'].dirty || createForm.controls['name'].touched)">This field is required</mat-error>
              <mat-error *ngIf="createForm.controls['name'].hasError('pattern') && (createForm.controls['name'].dirty || createForm.controls['name'].touched)">Name should not be longer </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Designation" formControlName="designation" #designation>
              <mat-error *ngIf="createForm.controls['designation'].hasError('required') && (createForm.controls['designation'].dirty || createForm.controls['designation'].touched)">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" formControlName="email" #email>
              <mat-error *ngIf="createForm.controls['email'].hasError('required') && (createForm.controls['email'].dirty || createForm.controls['email'].touched)">This field is required</mat-error>
              <mat-error *ngIf="createForm.controls['email'].hasError('pattern') && (createForm.controls['email'].dirty || createForm.controls['email'].touched)">Please enter valid email id</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone" formControlName="phone" #phone>
              <mat-error *ngIf="createForm.controls['phone'].hasError('required') && (createForm.controls['phone'].dirty || createForm.controls['phone'].touched)">This field is required</mat-error>
              <mat-error *ngIf="createForm.controls['phone'].hasError('pattern') && (createForm.controls['phone'].dirty || createForm.controls['phone'].touched)">Please enter valid phone number</mat-error>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" mat-raised-button color="accent" (click)="revert()">Reset</button>
        <button type="button" mat-raised-button color="accent" data-dismiss="modal">Close</button>
        <button type="submit" (click)="addUser(name.value, designation.value, email.value, phone.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>