<div class="menu-bg"> 
  <ul>
    <li>  
      <a routerLink="/home" routerLinkActive="active-link"> 
       <span> <i class="fas fa-home"></i> </span> 
       <span> Home</span>
    </a>
    </li>
    <li><a routerLink="/users" routerLinkActive="active-link">
      <span> <i class="fas fa-users"></i></span>
      <span> Users </span>
    </a>
  </li>
    <li><a routerLink="/gallery" routerLinkActive="active-link"> 
      <span><i class="fas fa-images"></i> </span>
      <span> gallery </span>
    </a>
  </li>
  </ul>
</div>