<div class="row">
  <h1 class="heading"> {{ galleryTitle}}</h1>
</div>
<div class="row">
  <button mat-raised-button color="primary" (click)="showForm()">Add Gallery</button>
</div>

<!--add gallery div-->
<div class="row">
  <div class="form" *ngIf="addGalleryForm">
    <form [formGroup]="addForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="title" formControlName="title" #title>
        <mat-error *ngIf="addForm.controls['title'].hasError('required') && (addForm.controls['title'].dirty || addForm.controls['title'].touched)">This field is required</mat-error>
        <mat-error *ngIf="addForm.controls['title'].hasError('pattern') && (addForm.controls['title'].dirty || addForm.controls['title'].touched)">Title should not be longer</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="url" formControlName="url" #url>
        <mat-error *ngIf="addForm.controls['url'].hasError('required') && (addForm.controls['url'].dirty || addForm.controls['url'].touched)">This field is required</mat-error>
        <mat-error *ngIf="addForm.controls['url'].hasError('pattern') && (addForm.controls['url'].dirty || addForm.controls['url'].touched)">Please enter valid image url </mat-error>
      </mat-form-field>
      <button type="submit" (click)="addGallery( title.value, url.value)" [disabled]="addForm.pristine || addForm.invalid" mat-raised-button color="primary" >Save</button>
     </form> 
  </div>
</div>

<!--show galllery-->
<div class="row">
  <div class="col-3" *ngFor="let album of albums | paginate: { itemsPerPage: 4, currentPage: p }">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{album.title}}</mat-card-title>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>mode_edit </mat-icon> <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteAlbum(album._id)">
            <mat-icon>delete </mat-icon> <span>Delete</span>
          </button>
        </mat-menu>
      </mat-card-header>
      <img mat-card-image [defaultImage]="defaultImage" [lazyLoad]="album.url" [offset]="offset">
    </mat-card>
  </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
