<button class="btn btn-primary" (click)="showInput()"> show input</button>
<input type="text" [(ngModel)]="hero" *ngIf="parent">

<form (ngSubmit)="onSubmit()" #userForm = "ngForm">
    value: {{userForm.value | json }}
  <input type="text" [(ngModel)]="name" name="name">
  <input type="text" [(ngModel)]="age" name="age">
  <button type="submit">Submit</button>
</form>

<div class="laptop"> 
  <ul>
    <li *ngFor="let laptop of laptops"> 
      <p> {{laptop.name}}</p>
      <em> {{laptop.ram}}</em>
    </li>
  </ul>
</div>

<button class="btn btn-primary" (click)="onClickMe()"> click me </button>

<h2> {{clickMessage}}</h2>

<!-- form goes here -->
<form (ngSubmit)="processForm()">

  <!-- name -->
  <div class="field">
    <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name">
  </div>
  <!-- email -->
  <div class="field">
    <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="email">
  </div>

  <!-- message -->
  <div class="field">
    <textarea class="textarea" name="message" placeholder="What's on your mind?" [(ngModel)]="message"></textarea>
  </div>

  <button type="submit" class="button is-danger is-large">Submit</button>

</form>

<h1> {{getTime}}</h1>

<div class="setting" (click)="setting()">
  <i class="fas fa-cog"></i>
</div>


<div class="settingArea"> 
  setting area content will come here 
</div>
