<button class="btn btn-primary" (click)="showInput()"> show input</button>
<input type="text" [(ngModel)]="hero" *ngIf="parent">

<form (ngSubmit)="onSubmit()" #userForm = "ngForm">
   <h1>value: {{userForm.value | json }} </h1>
  <input type="text" [(ngModel)]="name" name="name">
  <input type="text" [(ngModel)]="age" name="age">
  <input type="text" placeholder="Datepicker" class="form-control" [(ngModel)]="datePick" name="datePick" bsDatepicker>
  <button type="submit">Submit</button>
</form>


<h1> {{getTime}}</h1>

<div class="setting" (click)="setting()">
  <i class="fas fa-cog"></i>
</div>


<div class="settingArea"> 
  setting area content will come here 
</div>


<form [formGroup]="dateForm" (ngSubmit)="subForm()">
    <div class="col-12">
        <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }" formControlName="date" #date> 
      </div>
      <span class="required" *ngIf="dateForm.controls['date'].hasError('required') && (dateForm.controls['date'].dirty || dateForm.controls['date'].touched)">This field is required</span>
    <button class="btn btn-primary" type="submit" [disabled]="dateForm.pristine || dateForm.invalid"> Get Date</button>
</form>
