@import url('https://fonts.googleapis.com/css?family=Barlow');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
body {
    background: #eee;
    font-family: 'Barlow', sans-serif !important;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background: #3598DB;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
}